In [154]:
import pandas as pd
df = pd.read_csv("C:/Users/Shoba/Downloads/titanic.csv")
df = df.dropna()

In [155]:
y= df.Survived
y

1      1
3      1
6      0
10     1
11     1
      ..
871    1
872    0
879    1
887    1
889    1
Name: Survived, Length: 183, dtype: int64

In [156]:
x= df[['Pclass','Sex','Age','Fare']]
x

     Pclass     Sex   Age     Fare
1         1  female  38.0  71.2833
3         1  female  35.0  53.1000
6         1    male  54.0  51.8625
10        3  female   4.0  16.7000
11        1  female  58.0  26.5500
..      ...     ...   ...      ...
871       1  female  47.0  52.5542
872       1    male  33.0   5.0000
879       1  female  56.0  83.1583
887       1  female  19.0  30.0000
889       1    male  26.0  30.0000

[183 rows x 4 columns]

In [157]:
from sklearn.preprocessing import LabelEncoder as LE
le_sex = LE()

In [158]:
x['Sex_n'] = le_sex.fit_transform(x['Age'])

C:\Users\Shoba\AppData\Local\Temp\ipykernel_11640\688624265.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['Sex_n'] = le_sex.fit_transform(x['Age'])

In [159]:
x_final = x.drop(['Sex'],axis=1)
x_final

     Pclass   Age     Fare  Sex_n
1         1  38.0  71.2833     32
3         1  35.0  53.1000     28
6         1  54.0  51.8625     49
10        3   4.0  16.7000      4
11        1  58.0  26.5500     53
..      ...   ...      ...    ...
871       1  47.0  52.5542     42
872       1  33.0   5.0000     26
879       1  56.0  83.1583     51
887       1  19.0  30.0000     12
889       1  26.0  30.0000     18

[183 rows x 4 columns]

In [176]:
from sklearn.model_selection import train_test_split as tts
x_train,x_test,y_train,y_test = tts(x_final,y,test_size=0.31) #0.295 or .3 or 0.303

In [177]:
from sklearn.tree import DecisionTreeClassifier as dt
model = dt(criterion='entropy')

In [178]:
model.fit(x_train,y_train)

DecisionTreeClassifier(criterion='entropy')

In [179]:
model.score(x_test,y_test)

0.7368421052631579